Repository shawnrivers/nogilib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run lint:fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --fix", "git add"],
}

Separate and restructure raw albums data
  src/server/actors/Albums/raw.ts
  src/server/actors/Albums/raw/creator.ts
  src/server/actors/Albums/raw/editor/index.ts
  src/server/actors/Albums/raw/index.ts
  src/server/app.ts
Due: npm run lint:fix

Move Singles and Albums to Cds
  src/client/features/Cd/containers/Album/container.tsx
  src/client/features/Cd/containers/Single/container.tsx
  src/server/actors/Albums/raw/index.ts
  src/server/actors/Cds/Albums/index.ts
  src/server/actors/Cds/Albums/models.ts
  src/server/actors/Cds/Albums/raw/creator.ts
  src/server/actors/Cds/Albums/raw/editor/index.ts
  src/server/actors/Cds/Albums/raw/index.ts
  src/server/actors/Cds/Singles/index.ts
  src/server/actors/Cds/Singles/models.ts
  src/server/actors/Cds/Singles/raw/creator.ts
  src/server/actors/Cds/Singles/raw/editor/index.ts
  src/server/actors/Cds/Singles/raw/index.ts
  src/server/actors/Members/converters.ts
  src/server/actors/Members/index.ts
  src/server/actors/Singles/raw/index.ts
  src/server/actors/Songs/converters.ts
  src/server/actors/Songs/index.ts
  src/server/app.ts
Due: npm run lint:fix

Separate and restructure raw units data
  src/server/actors/Cds/Albums/raw/index.ts
  src/server/actors/Cds/Singles/raw/index.ts
  src/server/actors/Units/raw.ts
  src/server/actors/Units/raw/creator.ts
  src/server/actors/Units/raw/editor/index.ts
  src/server/actors/Units/raw/index.ts
Due: npm run lint:fix

Separate every single and album to a single file
  src/server/actors/Cds/Albums/raw/editor/1.ts
  src/server/actors/Cds/Albums/raw/editor/2.ts
  src/server/actors/Cds/Albums/raw/editor/3.ts
  src/server/actors/Cds/Albums/raw/editor/4.ts
  src/server/actors/Cds/Albums/raw/editor/index.ts
  src/server/actors/Cds/Albums/raw/editor/under.ts
  src/server/actors/Cds/Singles/raw/editor/1.ts
  src/server/actors/Cds/Singles/raw/editor/10.ts
  src/server/actors/Cds/Singles/raw/editor/11.ts
  src/server/actors/Cds/Singles/raw/editor/12.ts
  src/server/actors/Cds/Singles/raw/editor/13.ts
  src/server/actors/Cds/Singles/raw/editor/14.ts
  src/server/actors/Cds/Singles/raw/editor/15.ts
  src/server/actors/Cds/Singles/raw/editor/16.ts
  src/server/actors/Cds/Singles/raw/editor/17.ts
  src/server/actors/Cds/Singles/raw/editor/18.ts
  src/server/actors/Cds/Singles/raw/editor/19.ts
  src/server/actors/Cds/Singles/raw/editor/2.ts
  src/server/actors/Cds/Singles/raw/editor/20.ts
  src/server/actors/Cds/Singles/raw/editor/21.ts
  src/server/actors/Cds/Singles/raw/editor/22.ts
  src/server/actors/Cds/Singles/raw/editor/23.ts
  src/server/actors/Cds/Singles/raw/editor/24.ts
  src/server/actors/Cds/Singles/raw/editor/25.ts
  src/server/actors/Cds/Singles/raw/editor/3.ts
  src/server/actors/Cds/Singles/raw/editor/4.ts
  src/server/actors/Cds/Singles/raw/editor/5.ts
  src/server/actors/Cds/Singles/raw/editor/6.ts
  src/server/actors/Cds/Singles/raw/editor/7.ts
  src/server/actors/Cds/Singles/raw/editor/8.ts
  src/server/actors/Cds/Singles/raw/editor/9.ts
  src/server/actors/Cds/Singles/raw/editor/index.ts
Due: npm run lint:fix

Update Nishino artist image
  src/assets/images/members/graduated/nishinonanase.jpg
Due: none

Remove verbose files
  src/server/actors/Cds/Albums/raw/editor/index.ts
  src/server/actors/Cds/Albums/raw/index.ts
  src/server/actors/Cds/Singles/raw/editor/index.ts
  src/server/actors/Cds/Singles/raw/index.ts
  src/server/actors/Songs/raw/editor/albums/index.ts
  src/server/actors/Songs/raw/index.ts
Due: npm run lint:fix

Fix Song template when formation array is empty
  src/client/features/Song/template.tsx
Due: npm run lint:fix

Add new song data
  src/data/songs.json
  src/server/actors/Songs/raw/editor/others/index.ts
Due: npm run lint:fix

Fix search undefined handling
  src/pages/search.tsx
Due: npm run lint:fix

Use grid in the right way
  src/client/components/atoms/MemberCard/membercard.module.scss
  src/client/features/Cds/cds.module.scss
  src/client/features/Members/members.module.scss
  src/client/features/Song/song.module.scss
Due: prettier --write, stylelint --fix

Fix member page grid
  src/client/features/Member/member.module.scss
Due: prettier --write, stylelint --fix

Refine arrayToObject type
  src/utils/arrays.ts
Due: npm run lint:fix

Modify coding styles
  src/utils/arrays.ts
Due: npm run lint:fix

Fix type error
  src/server/actors/Cds/models.ts
Due: npm run lint:fix

Fix enums
  src/server/actors/Cds/Albums/index.ts
  src/server/actors/Cds/Singles/index.ts
  src/server/actors/Cds/converters.ts
  src/server/actors/Songs/converters.ts
  src/server/constants/commons.ts
  src/server/constants/songs.ts
Due: npm run lint:fix

Using .d.ts for type files
  src/server/actors/Cds/Albums/models.d.ts
  src/server/actors/Cds/Singles/models.d.ts
  src/server/actors/Cds/models.d.ts
  src/server/actors/Members/models.d.ts
  src/server/actors/Songs/models.d.ts
  src/server/actors/Units/models.d.ts
  src/server/types/commons.d.ts
Due: npm run lint:fix

Fix enum for names
  src/client/components/atoms/MemberCard/index.tsx
  src/client/features/Song/template.tsx
  src/server/constants/names.ts
Due: npm run lint:fix

Adding title/key object const for singles and albums
  src/server/constants/cds.ts
Due: npm run lint:fix

Enumize unit names
  src/server/actors/Songs/raw/editor/albums/1.ts
  src/server/actors/Songs/raw/editor/albums/2.ts
  src/server/actors/Songs/raw/editor/albums/4.ts
  src/server/actors/Songs/raw/editor/singles/12.ts
  src/server/actors/Songs/raw/editor/singles/13.ts
  src/server/actors/Songs/raw/editor/singles/15.ts
  src/server/actors/Songs/raw/editor/singles/16.ts
  src/server/actors/Songs/raw/editor/singles/17.ts
  src/server/actors/Songs/raw/editor/singles/19.ts
  src/server/actors/Songs/raw/editor/singles/20.ts
  src/server/actors/Songs/raw/editor/singles/22.ts
  src/server/actors/Songs/raw/editor/singles/23.ts
  src/server/actors/Songs/raw/editor/singles/4.ts
  src/server/actors/Songs/raw/editor/singles/8.ts
  src/server/actors/Units/constants/unitName.ts
  src/server/actors/Units/models.ts
  src/server/actors/Units/raw/editor/index.ts
  src/server/types/commons.d.ts
Due: npm run lint:fix

Fixing type error for client
  src/client/components/atoms/PositionBadge/index.tsx
  src/client/features/Cd/template.tsx
  src/client/features/Member/template.tsx
  src/client/features/Members/container.tsx
  src/client/features/Members/template.tsx
Due: npm run lint:fix

Fixing coding styles
  .eslintrc.js
  src/client/components/atoms/Track/index.tsx
  src/client/features/Members/container.tsx
  src/client/features/Members/template.tsx
Due: npm run lint:fix

Move track link logic to container
  src/client/components/atoms/Track/index.tsx
  src/client/features/Cd/containers/Album/container.tsx
  src/client/features/Cd/containers/Single/container.tsx
  src/client/features/Cd/template.tsx
Due: npm run lint:fix

Add jest
  .eslintrc.js
  babel.config.js
  jest.config.js
  package.json
  src/server/actors/Units/__tests__/converters.ts
  tsconfig-server.json
  tsconfig.json
  yarn.lock
Due: npm run lint:fix

Add unit cases
  .circleci/config.yml
  src/server/actors/Cds/__tests__/converters.ts
  src/server/actors/Cds/converters.ts
  src/server/actors/Members/__tests__/converters.ts
  src/server/actors/Members/models.ts
  src/server/actors/Songs/__tests__/converters.ts
  src/server/actors/Songs/models.ts
  src/server/actors/Units/__tests__/converters.ts
  tsconfig.json
Due: npm run lint:fix

Remove babel config
  babel.config.js
Due: npm run lint:fix

Remove babel
  package.json
  yarn.lock
Due: none

Remove babel-jest
  package.json
Due: none

Update README
  README.md
Due: none

Don't prettier README
  .prettierignore
  README.md
Due: none

Add storybook and emotion
  .eslintrc.js
  .storybook/libs/ThemeDecorator.tsx
  .storybook/main.js
  .storybook/preview-body.html
  .storybook/preview-head.html
  package.json
  src/client/components/molecules/GlobalNavigation/index.stories.tsx
  src/client/components/molecules/GlobalNavigation/index.tsx
  src/client/styles/colors.ts
  src/client/styles/tokens.ts
  tsconfig.json
  yarn.lock
Due: npm run lint:fix

Fix storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/client/components/molecules/GlobalNavigation/index.stories.tsx
  yarn.lock
Due: npm run lint:fix

Add color palettes
  src/client/styles/colors.ts
  src/client/styles/tokens.ts
Due: npm run lint:fix

Using single quote for prettier
  .prettierrc
Due: none

Add typography token
  src/client/styles/colors.ts
  src/client/styles/tokens.ts
  src/client/styles/typography.ts
Due: npm run lint:fix

Add Typography component
  .storybook/preview-body.html
  src/client/components/atoms/Typography/index.stories.tsx
  src/client/components/atoms/Typography/index.tsx
  src/client/components/molecules/GlobalNavigation/index.stories.tsx
Due: npm run lint:fix
