Repository shawnrivers/nogilib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run lint:fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --fix", "git add"],
}

Add GitHub account configs
  .circleci/config.yml
Due: none

Skip CI for the github pages branch
  package.json
Due: none

Update package.json
  package.json
Due: none

Update Sakurai and Hori's photo album info
  src/data/members.json
Due: none

Add new profile images
  src/data/members.json
Due: none

Remove unused animation settings
  src/layouts/index.tsx
Due: npm run lint:fix

Show right member images in songs
  src/containers/Song/index.tsx
Due: npm run lint:fix

Fix the height of page tabs to prevent the bumping effects
  src/components/molecules/PageTabs/pagetabs.module.scss
Due: prettier --write, stylelint --fix

Fix page tabs height when becoming multilines
  src/components/atoms/PageTab/index.tsx
  src/components/molecules/PageTabs/pagetabs.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Change dependabot non-security updates schedule to weekly
  .dependabot/config.yml
Due: none

Oh maybe monthly
  .dependabot/config.yml
Due: none

Emphasize box shadows
  src/styles/elevations.scss
Due: prettier --write, stylelint --fix

Fix page tab item height
  src/components/molecules/PageTabs/pagetabs.module.scss
Due: prettier --write, stylelint --fix

Shorten list children animation delay time
  src/components/templates/Cds/index.tsx
  src/components/templates/Members/index.tsx
Due: npm run lint:fix

Remove unnecessary AnimatePresence
  src/components/templates/Cds/index.tsx
  src/components/templates/Members/index.tsx
Due: npm run lint:fix

Update Sakurai photo album title
  src/data/members.json
Due: none

Fix starting page layout
  src/components/templates/Starting/starting.module.scss
Due: prettier --write, stylelint --fix

Add Etou's photo book
  src/data/members.json
Due: none

Add Yamashita's photo album
  src/data/members.json
Due: none

Update Members' heights
  src/data/members.json
Due: none

Fix member page styles
  src/components/templates/Member/index.tsx
  src/components/templates/Member/member.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Update Yamashita photo album title
  src/data/members.json
Due: none

Audit fix
  package-lock.json
Due: none

Update Etou photo book title
  src/data/members.json
Due: none

Fix package name
  package.json
Due: none

Add Eto's official site
  src/data/members.json
Due: none

Update Sakurai's profile image
  src/data/members.json
Due: none

Update copyrights
  src/components/templates/Starting/index.tsx
Due: npm run lint:fix

Add Yoda's 2nd photo album
  src/data/members.json
Due: none

Update Yoda's 2nd photo album title
  src/data/members.json
Due: none

Add 25th single
  src/data/members.json
  src/data/singles.json
  src/data/songs.json
Due: none

Hide creators section when no creators
  src/components/templates/Song/index.tsx
Due: npm run lint:fix

Modify cds page artwork background color
  src/components/atoms/Artwork/artwork.module.scss
Due: prettier --write, stylelint --fix

Modify CSS format
  src/components/templates/Cds/cds.module.scss
  src/components/templates/Members/members.module.scss
Due: prettier --write, stylelint --fix

Add Akimoto's 2nd photo album
  src/data/members.json
Due: none

Add new 4th gen members
  src/data/members.json
  src/i18n/en.json
  src/i18n/ja.json
  src/i18n/zh.json
Due: none

Update 25th single title
  src/data/singles.json
  src/data/songs.json
Due: none

Add 25th single tracks and fix data
  src/data/members.json
  src/data/singles.json
  src/data/songs.json
Due: none

Add 25th. single artworks
  src/data/singles.json
  src/data/songs.json
Due: none

Add Akimoto photo album title
  src/data/members.json
Due: none
