Repository shawnrivers/nogilib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run lint:fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --fix", "git add"],
}

Fix translation
  src/i18n/zh.json
Due: none

Fix member card styles
  src/components/atoms/MemberCard/membercard.module.scss
Due: prettier --write, stylelint --fix

Add Sakurai's graduation
  src/data/members.json
Due: none

Sort graduated members by graduated date
  src/containers/Members/index.tsx
Due: npm run lint:fix

Update 24th single creators
  src/data/songs.json
Due: none

Remove unnecessary import
  src/components/templates/Cd/index.tsx
Due: npm run lint:fix

Fix class name cases
  src/components/atoms/MemberCard/index.tsx
  src/components/atoms/MemberCard/membercard.module.scss
  src/components/atoms/PositionCounter/index.tsx
  src/components/atoms/PositionCounter/positioncounter.module.scss
  src/components/templates/Cd/cd.module.scss
  src/components/templates/Cd/index.tsx
  src/components/templates/Cds/cds.module.scss
  src/components/templates/Member/index.tsx
  src/components/templates/Member/member.module.scss
  src/components/templates/Song/index.tsx
  src/components/templates/Song/song.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Add eslint-plugin-react-hooks and fix hooks
  .eslintrc.js
  package-lock.json
  package.json
  src/components/atoms/MemberCard/index.tsx
  src/components/atoms/locales/LocalizedNumber/index.tsx
  src/components/molecules/Artworks/index.tsx
  src/components/molecules/TopNavigation/index.tsx
Due: npm run lint:fix

Unify ES Lint rule values
  .eslintrc.js
Due: npm run lint:fix

Rename OptionItem
  src/components/atoms/LanguageOptionItem/index.tsx
  src/components/atoms/LanguageOptionItem/languageoptionitem.module.scss
  src/components/molecules/TopNavigation/index.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Add trailing comma to every link
  gatsby-config.js
  gatsby-node.js
  src/components/atoms/LanguageOptionItem/index.tsx
  src/components/atoms/locales/LocalizedLink/index.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/utils/strings.ts
Due: npm run lint:fix

Update README
  README.md
Due: none

Change top nav bar home and languages items show/hide condition
  src/components/molecules/TopNavigation/index.tsx
  src/components/molecules/TopNavigation/topnavigation.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Add image onload transition
  src/components/atoms/Artwork/index.tsx
  src/components/atoms/LazyImage/index.tsx
  src/components/atoms/MemberCard/index.tsx
  src/components/molecules/Artworks/index.tsx
  src/components/templates/Member/index.tsx
  src/components/templates/Member/member.module.scss
  src/components/templates/Song/index.tsx
  src/components/templates/Song/song.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Fix Kojiharu card and remove unused imports
  src/components/atoms/MemberCard/index.tsx
  src/components/templates/Member/index.tsx
Due: npm run lint:fix

Fix scss files order
  .stylelintrc.json
  src/components/atoms/Artwork/artwork.module.scss
  src/components/atoms/LanguageOptionItem/languageoptionitem.module.scss
  src/components/atoms/Layout/layout.module.scss
  src/components/atoms/MemberCard/membercard.module.scss
  src/components/atoms/NavigationItem/navigationitem.module.scss
  src/components/atoms/PositionBadge/positionbadge.module.scss
  src/components/atoms/PositionCounter/positioncounter.module.scss
  src/components/atoms/Track/track.module.scss
  src/components/molecules/Artworks/artworks.module.scss
  src/components/molecules/PageTab/pagetab.module.scss
  src/components/molecules/TopNavigation/topnavigation.module.scss
  src/components/templates/Cd/cd.module.scss
  src/components/templates/Cds/cds.module.scss
  src/components/templates/Member/member.module.scss
  src/components/templates/Members/members.module.scss
  src/components/templates/Song/song.module.scss
  src/layouts/applayout.module.scss
  src/styles/app.scss
Due: prettier --write, stylelint --fix

Remove onload fading for artwork
  src/components/molecules/Artworks/index.tsx
  src/components/templates/Song/index.tsx
Due: npm run lint:fix

Fix import orders
  .eslintrc.js
  package.json
  src/components/atoms/Artwork/index.tsx
  src/components/atoms/LanguageOptionItem/index.tsx
  src/components/atoms/MemberCard/index.tsx
  src/components/atoms/NavigationItem/index.tsx
  src/components/atoms/PositionBadge/index.tsx
  src/components/atoms/Track/index.tsx
  src/components/atoms/locales/LocalizedLink/index.tsx
  src/components/molecules/Artworks/index.tsx
  src/components/molecules/PageTab/index.tsx
  src/components/molecules/TopNavigation/index.tsx
  src/components/templates/Cd/index.tsx
  src/components/templates/Cds/index.tsx
  src/components/templates/Member/index.tsx
  src/components/templates/Members/index.tsx
  src/components/templates/Song/index.tsx
  src/containers/Album/index.tsx
  src/containers/Single/index.tsx
  src/layouts/index.tsx
Due: npm run lint:fix

Remove comments in config files
  .eslintrc.js
  gatsby-config.js
Due: npm run lint:fix

Add a component for FormattedMessage
  src/components/atoms/Message/index.tsx
  src/components/atoms/Track/index.tsx
  src/components/molecules/PageTab/index.tsx
  src/components/molecules/TopNavigation/index.tsx
  src/components/templates/Cd/index.tsx
  src/components/templates/Member/index.tsx
  src/components/templates/Song/index.tsx
Due: npm run lint:fix

Add starting page
  src/assets/images/favicon-128.png
  src/assets/images/favicon-256.png
  src/assets/images/screenshots/cd-pc-large.jpg
  src/assets/images/screenshots/cd-pc-small.jpg
  src/assets/images/screenshots/cd-sp-large.jpg
  src/assets/images/screenshots/cd-sp-small.jpg
  src/assets/images/screenshots/cd_list-pc-large.jpg
  src/assets/images/screenshots/cd_list-pc-small.jpg
  src/assets/images/screenshots/cd_list-sp-large.jpg
  src/assets/images/screenshots/cd_list-sp-small.jpg
  src/assets/images/screenshots/member-pc-large.jpg
  src/assets/images/screenshots/member-pc-small.jpg
  src/assets/images/screenshots/member-sp-large.jpg
  src/assets/images/screenshots/member-sp-small.jpg
  src/assets/images/screenshots/member_list-pc-large.jpg
  src/assets/images/screenshots/member_list-pc-small.jpg
  src/assets/images/screenshots/member_list-sp-large.jpg
  src/assets/images/screenshots/member_list-sp-small.jpg
  src/assets/images/screenshots/song-pc-large.jpg
  src/assets/images/screenshots/song-pc-small.jpg
  src/assets/images/screenshots/song-sp-large.jpg
  src/assets/images/screenshots/song-sp-small.jpg
  src/components/templates/Starting/index.tsx
  src/components/templates/Starting/starting.module.scss
  src/i18n/en.json
  src/i18n/ja.json
  src/i18n/zh.json
  src/pages/index.tsx
  src/types/declarations.d.ts
Due: npm run lint:fix, prettier --write, stylelint --fix

Fix starting page
  src/components/templates/Starting/index.tsx
Due: npm run lint:fix

Modify translation
  src/i18n/zh.json
Due: none

Remove unused imports
  .eslintrc.js
  src/components/templates/Starting/index.tsx
Due: npm run lint:fix

Fix README
  README.md
Due: none

Modify top navbar links and starting page links
  src/components/molecules/TopNavigation/index.tsx
  src/components/templates/Starting/index.tsx
  src/components/templates/Starting/starting.module.scss
  src/i18n/en.json
  src/i18n/ja.json
  src/i18n/zh.json
Due: npm run lint:fix, prettier --write, stylelint --fix

Fix data
  src/data/songs.json
Due: none

Add placeholder option for LazyImage
  src/components/atoms/LazyImage/index.tsx
Due: npm run lint:fix

Fix link clickable area
  src/components/templates/Starting/index.tsx
Due: npm run lint:fix

Remove unnecessary lazy load in images
  src/components/templates/Member/index.tsx
Due: npm run lint:fix

Fix data typo
  src/data/albums.json
  src/data/songs.json
Due: none

Fix query name
  src/containers/Members/index.tsx
Due: npm run lint:fix

Add lunr for search
  gatsby-config.js
  package-lock.json
  package.json
Due: npm run lint:fix

Add a simple search page
  src/components/templates/Search/index.tsx
  src/pages/search.tsx
Due: npm run lint:fix

Add fileds for search
  gatsby-config.js
Due: npm run lint:fix

Add SearchResultCard component
  src/components/atoms/SearchResultCard/index.tsx
  src/components/atoms/SearchResultCard/searchresultcard.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Modify search page 1. Separate logic from UI 2. Use setTimeout to avoid search with every query update 3. Use SearchResultCard component
  src/components/templates/Search/index.tsx
  src/pages/search.tsx
  src/utils/constants.ts
Due: npm run lint:fix

Modify SearchResultCard
  src/components/atoms/SearchResultCard/index.tsx
  src/components/atoms/SearchResultCard/searchresultcard.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Add and clean up typography styles
  src/components/atoms/Artwork/artwork.module.scss
  src/components/atoms/Track/track.module.scss
  src/components/molecules/TopNavigation/topnavigation.module.scss
  src/components/templates/Cd/cd.module.scss
  src/components/templates/Member/member.module.scss
  src/components/templates/Song/song.module.scss
  src/components/templates/Starting/starting.module.scss
  src/styles/typography.scss
Due: prettier --write, stylelint --fix

Move getFocusPerformersText function to utils
  src/components/atoms/Track/index.tsx
  src/utils/strings.ts
Due: npm run lint:fix
