Repository shawnrivers/nogilib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run lint:fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --fix", "git add"],
}

Remove languages button outside of cds and allmembers pages
  src/components/atoms/NavigationItem/index.tsx
  src/components/atoms/Track/index.tsx
  src/components/atoms/icons/HomeIcon.tsx
  src/components/molecules/TopNavigation/index.tsx
  src/components/molecules/TopNavigation/topnavigation.module.scss
  src/components/organisms/Cd/index.tsx
  src/components/templates/Member/index.tsx
  src/components/templates/Song/index.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Add birthplace translation
  src/components/molecules/TopNavigation/index.tsx
  src/components/templates/Member/index.tsx
  src/i18n/en.json
  src/i18n/ja.json
  src/i18n/zh.json
Due: npm run lint:fix

Add arial-label to buttons and links
  src/components/atoms/NavigationItem/index.tsx
  src/components/molecules/Artworks/index.tsx
  src/components/molecules/TopNavigation/index.tsx
  src/components/templates/Member/index.tsx
  src/components/templates/Song/index.tsx
Due: npm run lint:fix

Add page metadata
  gatsby-config.js
  package.json
  src/layouts/index.tsx
Due: npm run lint:fix

Add 404 page
  src/pages/404.tsx
Due: npm run lint:fix

Add manifest file
  gatsby-config.js
  package-lock.json
  package.json
  src/assets/images/favicon-512.png
Due: npm run lint:fix

Add service worker
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
Due: npm run lint:fix

Fix linking
  gatsby-config.js
  package-lock.json
  package.json
  src/components/molecules/TopNavigation/index.tsx
  static/favicon.ico
Due: npm run lint:fix

Update 24th. single creators
  src/data/songs.json
Due: none

Move page background setting to each page
  src/components/templates/Album/album.module.scss
  src/components/templates/Album/index.tsx
  src/components/templates/Member/index.tsx
  src/components/templates/Member/member.module.scss
  src/components/templates/Single/index.tsx
  src/components/templates/Single/single.module.scss
  src/components/templates/Song/index.tsx
  src/components/templates/Song/song.module.scss
  src/layouts/applayout.module.scss
  src/layouts/index.tsx
  src/styles/colors.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Create a util function to combine classnames
  src/components/atoms/Artwork/index.tsx
  src/components/atoms/Layout/index.tsx
  src/components/atoms/NavigationItem/index.tsx
  src/components/atoms/Track/index.tsx
  src/components/molecules/Artworks/index.tsx
  src/components/molecules/PageTab/index.tsx
  src/utils/strings.ts
Due: npm run lint:fix

Fix background min-height
  src/components/templates/Album/album.module.scss
  src/components/templates/Member/member.module.scss
  src/components/templates/Single/single.module.scss
  src/components/templates/Song/song.module.scss
  src/pages/about.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Mess around with service worker
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
Due: npm run lint:fix

Remove the service worker before I understand it
  gatsby-config.js
  package-lock.json
  package.json
Due: npm run lint:fix

Fine I lied in the previous commit, this I'll really kill the service worker...
  gatsby-config.js
  package-lock.json
  package.json
Due: npm run lint:fix

Improve accessiblity
  src/components/atoms/NavigationItem/index.tsx
  src/components/atoms/Track/track.module.scss
  src/components/atoms/locales/LocalizedLink/index.tsx
  src/components/molecules/TopNavigation/index.tsx
  src/components/organisms/Cd/cd.module.scss
  src/components/organisms/Cd/index.tsx
  src/components/templates/Album/index.tsx
  src/components/templates/Single/index.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Change PageTab styling to CSS classnames
  src/components/molecules/PageTab/index.tsx
  src/components/molecules/PageTab/pagetab.module.scss
  src/components/templates/Cds/index.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Stop using url query for CDs page
  gatsby-config.js
  gatsby-node.js
  src/components/molecules/TopNavigation/index.tsx
  src/components/organisms/Cd/index.tsx
  src/components/templates/Album/index.tsx
  src/components/templates/Cds/index.tsx
  src/components/templates/Single/index.tsx
  src/containers/Cds/index.tsx
  src/pages/404.tsx
  src/pages/index.tsx
Due: npm run lint:fix

Use constants for links and move logic from components to containers
  src/components/atoms/Track/index.tsx
  src/components/molecules/TopNavigation/index.tsx
  src/components/organisms/Cd/index.tsx
  src/components/templates/Album/index.tsx
  src/components/templates/Cds/index.tsx
  src/components/templates/Single/index.tsx
  src/containers/Cds/index.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/types/responseTypes.ts
  src/utils/constants.ts
Due: npm run lint:fix

Use non-relative imports
  src/components/molecules/PageTab/index.tsx
  src/components/templates/Album/index.tsx
  src/components/templates/Cds/index.tsx
  src/components/templates/Single/index.tsx
  src/containers/Cds/index.tsx
  src/pages/404.tsx
  src/pages/index.tsx
Due: npm run lint:fix

Stop using url query for members page
  gatsby-node.js
  src/components/molecules/TopNavigation/index.tsx
  src/components/templates/Cds/index.tsx
  src/components/templates/Members/index.tsx
  src/containers/Cds/index.tsx
  src/containers/Members/index.tsx
  src/types/responseTypes.ts
  src/utils/constants.ts
Due: npm run lint:fix

Use containers for CD page and remove organisms
  gatsby-node.js
  src/components/organisms/Cd/index.tsx
  src/components/templates/Album/album.module.scss
  src/components/templates/Album/index.tsx
  src/components/templates/Cd/cd.module.scss
  src/components/templates/Cd/index.tsx
  src/components/templates/Single/index.tsx
  src/components/templates/Single/single.module.scss
  src/containers/Album/index.tsx
  src/containers/Single/index.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Use container for song page
  gatsby-node.js
  src/components/templates/Song/index.tsx
  src/components/templates/Song/song.module.scss
  src/containers/Song/index.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Use container for member page
  gatsby-node.js
  src/components/templates/Member/index.tsx
  src/containers/Member/index.tsx
Due: npm run lint:fix

Adjust member page styles
  src/components/atoms/PositionCounter/positioncounter.module.scss
  src/components/templates/Member/member.module.scss
Due: prettier --write, stylelint --fix

Adjust song page styles
  src/components/templates/Member/member.module.scss
  src/components/templates/Song/index.tsx
  src/components/templates/Song/song.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Move page tabs to layout
  gatsby-node.js
  src/components/molecules/PageTab/index.tsx
  src/components/molecules/PageTab/pagetab.module.scss
  src/components/templates/Cds/cds.module.scss
  src/components/templates/Cds/index.tsx
  src/components/templates/Members/index.tsx
  src/components/templates/Members/members.module.scss
  src/containers/Cds/index.tsx
  src/containers/Members/index.tsx
  src/layouts/index.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Tweak animations
  src/components/atoms/locales/LocalizedNumber/index.tsx
  src/components/templates/Cds/index.tsx
  src/components/templates/Members/index.tsx
  src/components/templates/Song/index.tsx
  src/layouts/index.tsx
Due: npm run lint:fix

Update README
  README.md
Due: none

Modify README
  README.md
Due: none

Adjust background size
  src/components/atoms/Track/index.tsx
  src/components/templates/Cd/index.tsx
  src/components/templates/Member/index.tsx
  src/components/templates/Song/index.tsx
Due: npm run lint:fix

Fix styles
  src/components/molecules/Artworks/artworks.module.scss
Due: prettier --write, stylelint --fix

Update 24th. single data
  src/data/singles.json
  src/data/songs.json
Due: none

Adjust position counter styles
  src/components/atoms/PositionCounter/positioncounter.module.scss
Due: prettier --write, stylelint --fix

Fix position counter styles
  src/components/atoms/PositionCounter/positioncounter.module.scss
  src/components/templates/Member/member.module.scss
Due: prettier --write, stylelint --fix

Fix README
  README.md
Due: none

Add placeholder for images
  src/components/atoms/Artwork/artwork.module.scss
  src/components/atoms/Artwork/index.tsx
  src/components/atoms/MemberCard/index.tsx
  src/components/atoms/MemberCard/membercard.module.scss
  src/components/templates/Member/index.tsx
  src/components/templates/Member/member.module.scss
  src/components/templates/Members/members.module.scss
  src/components/templates/Song/index.tsx
  src/components/templates/Song/song.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Fix styles
  src/components/atoms/Track/track.module.scss
  src/components/templates/Member/member.module.scss
Due: prettier --write, stylelint --fix

Modify styles
  src/components/templates/Cd/cd.module.scss
  src/components/templates/Cd/index.tsx
  src/components/templates/Member/index.tsx
  src/components/templates/Member/member.module.scss
  src/components/templates/Song/song.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Update og:image
  src/layouts/index.tsx
Due: npm run lint:fix
