Repository shawnrivers/nogilib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run lint:fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --fix", "git add"],
}

Finish search page brief design
  gatsby-config.js
  src/components/atoms/icons/SearchIcon.tsx
  src/components/templates/Search/index.tsx
  src/components/templates/Search/search.module.scss
  src/i18n/en.json
  src/i18n/ja.json
  src/i18n/zh.json
  src/pages/search.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Fix top navigation bar
  src/components/atoms/NavigationItem/index.tsx
  src/components/atoms/NavigationItem/navigationitem.module.scss
  src/components/atoms/icons/MembersIcon.tsx
  src/components/atoms/icons/MoreIcon.tsx
  src/components/atoms/icons/MusicIcon.tsx
  src/components/molecules/TopNavigation/index.tsx
  src/components/molecules/TopNavigation/topnavigation.module.scss
  src/i18n/en.json
  src/i18n/ja.json
  src/i18n/zh.json
  src/utils/constants.ts
Due: npm run lint:fix, prettier --write, stylelint --fix

Fix window for build
  src/pages/search.tsx
Due: npm run lint:fix

Fix top navigation bar styles
  src/components/molecules/TopNavigation/topnavigation.module.scss
  src/components/templates/Search/search.module.scss
Due: prettier --write, stylelint --fix

Link search result
  gatsby-config.js
  src/components/atoms/SearchResultCard/index.tsx
  src/components/templates/Search/index.tsx
  src/pages/search.tsx
Due: npm run lint:fix

Fix input area styles for iPhone
  src/components/templates/Search/index.tsx
  src/components/templates/Search/search.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Migrate to yarn
  package-lock.json
  package.json
  yarn.lock
Due: none

Move global navigation on mobile phones to the bottom
  package.json
  src/components/molecules/TopNavigation/topnavigation.module.scss
  src/styles/elevations.scss
Due: prettier --write, stylelint --fix

Add show more/less button and clean up search template
  src/components/molecules/SearchResultCategory/index.tsx
  src/components/molecules/SearchResultCategory/searchresultcategory.module.scss
  src/components/templates/Search/index.tsx
  src/components/templates/Search/search.module.scss
  src/i18n/en.json
  src/i18n/ja.json
  src/i18n/zh.json
  src/pages/search.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Add styles to toggle more button
  src/components/molecules/SearchResultCategory/searchresultcategory.module.scss
Due: prettier --write, stylelint --fix

Adjust page buttom spacing
  src/components/templates/Cd/cd.module.scss
  src/components/templates/Cd/index.tsx
  src/components/templates/Cds/cds.module.scss
  src/components/templates/Member/index.tsx
  src/components/templates/Member/member.module.scss
  src/components/templates/Members/members.module.scss
  src/components/templates/Search/index.tsx
  src/components/templates/Search/search.module.scss
  src/components/templates/Song/index.tsx
  src/components/templates/Song/song.module.scss
  src/components/templates/Starting/starting.module.scss
  src/styles/spacing.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Finish side bar
  src/components/atoms/icons/CloseIcon.tsx
  src/components/molecules/SideBar/index.tsx
  src/components/molecules/SideBar/sidebar.module.scss
  src/components/molecules/TopNavigation/index.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Add current page highlight
  src/components/molecules/TopNavigation/index.tsx
  src/components/molecules/TopNavigation/topnavigation.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

FIx side bar languages margin
  src/components/molecules/SideBar/sidebar.module.scss
Due: prettier --write, stylelint --fix

Fix function name
  src/components/atoms/LanguageOptionItem/index.tsx
  src/components/atoms/locales/LocalizedLink/index.tsx
  src/components/molecules/SideBar/index.tsx
  src/components/templates/Starting/index.tsx
  src/pages/404.tsx
  src/pages/search.tsx
  src/utils/strings.ts
Due: npm run lint:fix

Modify README with yarn set up steps
  README.md
Due: none

Fix copyrights
  README.md
Due: none

Fix iPhone nav bar size
  src/components/molecules/TopNavigation/topnavigation.module.scss
Due: prettier --write, stylelint --fix

Fix result card text-overflow
  src/components/atoms/SearchResultCard/searchresultcard.module.scss
Due: prettier --write, stylelint --fix

Fix side bar language options position for iPhone
  src/components/molecules/SideBar/sidebar.module.scss
Due: prettier --write, stylelint --fix

Always show language options in top navigation bar
  src/components/molecules/TopNavigation/index.tsx
Due: npm run lint:fix

Fix screenshots
  src/assets/images/screenshots/cd-pc-large.jpg
  src/assets/images/screenshots/cd-pc-small.jpg
  src/assets/images/screenshots/cd-sp-large.jpg
  src/assets/images/screenshots/cd-sp-small.jpg
  src/assets/images/screenshots/cd_list-pc-large.jpg
  src/assets/images/screenshots/cd_list-pc-small.jpg
  src/assets/images/screenshots/cd_list-sp-large.jpg
  src/assets/images/screenshots/cd_list-sp-small.jpg
  src/assets/images/screenshots/member-pc-large.jpg
  src/assets/images/screenshots/member-pc-small.jpg
  src/assets/images/screenshots/member-sp-large.jpg
  src/assets/images/screenshots/member-sp-small.jpg
  src/assets/images/screenshots/member_list-pc-large.jpg
  src/assets/images/screenshots/member_list-pc-small.jpg
  src/assets/images/screenshots/member_list-sp-large.jpg
  src/assets/images/screenshots/member_list-sp-small.jpg
  src/assets/images/screenshots/song-pc-large.jpg
  src/assets/images/screenshots/song-pc-small.jpg
  src/assets/images/screenshots/song-sp-large.jpg
  src/assets/images/screenshots/song-sp-small.jpg
Due: none

Add search feature intro in about page
  src/assets/images/screenshots/search-pc-large.jpg
  src/assets/images/screenshots/search-pc-small.jpg
  src/assets/images/screenshots/search-sp-large.jpg
  src/assets/images/screenshots/search-sp-small.jpg
  src/components/templates/Starting/index.tsx
  src/components/templates/Starting/starting.module.scss
  src/i18n/en.json
  src/i18n/ja.json
  src/i18n/zh.json
  src/styles/elevations.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Fix text-transform in navigation bar
  src/components/molecules/TopNavigation/topnavigation.module.scss
Due: prettier --write, stylelint --fix

Fix about page
  src/assets/images/screenshots/cd-pc-large.jpg
  src/assets/images/screenshots/cd-pc-small.jpg
  src/assets/images/screenshots/cd-pc.jpg
  src/assets/images/screenshots/cd-sp-large.jpg
  src/assets/images/screenshots/cd-sp-small.jpg
  src/assets/images/screenshots/cd_list-pc-large.jpg
  src/assets/images/screenshots/cd_list-pc-small.jpg
  src/assets/images/screenshots/cd_list-pc.jpg
  src/assets/images/screenshots/cd_list-sp-large.jpg
  src/assets/images/screenshots/cd_list-sp-small.jpg
  src/assets/images/screenshots/member-pc-large.jpg
  src/assets/images/screenshots/member-pc-small.jpg
  src/assets/images/screenshots/member-pc.jpg
  src/assets/images/screenshots/member-sp-large.jpg
  src/assets/images/screenshots/member-sp-small.jpg
  src/assets/images/screenshots/member_list-pc-large.jpg
  src/assets/images/screenshots/member_list-pc-small.jpg
  src/assets/images/screenshots/member_list-pc.jpg
  src/assets/images/screenshots/member_list-sp-large.jpg
  src/assets/images/screenshots/member_list-sp-small.jpg
  src/assets/images/screenshots/search-pc-large.jpg
  src/assets/images/screenshots/search-pc-small.jpg
  src/assets/images/screenshots/search-pc.jpg
  src/assets/images/screenshots/search-sp-large.jpg
  src/assets/images/screenshots/search-sp-small.jpg
  src/assets/images/screenshots/song-pc-large.jpg
  src/assets/images/screenshots/song-pc-small.jpg
  src/assets/images/screenshots/song-pc.jpg
  src/assets/images/screenshots/song-sp-large.jpg
  src/assets/images/screenshots/song-sp-small.jpg
  src/components/templates/Starting/index.tsx
  src/components/templates/Starting/starting.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Shorten search timeout
  src/pages/search.tsx
Due: npm run lint:fix

Add animation to search
  src/components/atoms/SearchResultCard/index.tsx
  src/components/molecules/SearchResultCategory/searchresultcategory.module.scss
  src/components/templates/Search/index.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Add top nav bar highlight
  src/components/molecules/TopNavigation/index.tsx
  src/components/molecules/TopNavigation/topnavigation.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Fix page tab
  src/components/molecules/PageTab/index.tsx
  src/layouts/index.tsx
Due: npm run lint:fix

Remove console.log
  src/components/molecules/PageTab/index.tsx
Due: npm run lint:fix

Update ES Lint config to warn console log
  .eslintrc.js
Due: npm run lint:fix

Fix about page styles
  src/components/templates/Starting/starting.module.scss
Due: prettier --write, stylelint --fix

Add support for Twitter card
  src/layouts/index.tsx
Due: npm run lint:fix

Fix description
  src/layouts/index.tsx
Due: npm run lint:fix

Change manifest theme color
  gatsby-config.js
Due: npm run lint:fix

Fix iPhone artworks layout bug and change "next" and "previous" button behavior
  src/components/molecules/Artworks/artworks.module.scss
  src/components/molecules/Artworks/index.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Modify artwork transition animation
  src/components/molecules/Artworks/artworks.module.scss
  src/components/molecules/Artworks/index.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Fix gallery images sorting
  src/containers/Member/index.tsx
Due: npm run lint:fix

Add member official blog links. Fix links styles and orders
  src/components/templates/Member/member.module.scss
  src/data/members.json
  src/i18n/en.json
  src/i18n/ja.json
  src/i18n/zh.json
Due: prettier --write, stylelint --fix

Fix member page styles
  src/components/templates/Member/member.module.scss
Due: prettier --write, stylelint --fix
