Repository shawnrivers/nogilib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run lint:fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --fix", "git add"],
}

Update data
  src/data/members.json
  src/data/songs.json
Due: none

Remove dependabot config file from repository
  .dependabot/config.yml
Due: none

Update 25th. single profile images and kenshusei profile urls
  src/data/members.json
Due: none

Fix Matsuo's profile image
  src/data/members.json
Due: none

Add update app button
  src/components/templates/Starting/index.tsx
  src/components/templates/Starting/starting.module.scss
  src/i18n/en.json
  src/i18n/ja.json
  src/i18n/zh.json
Due: npm run lint:fix, prettier --write, stylelint --fix

Modify Prettier rules and fix code styles
  .prettierrc
  src/components/atoms/PositionCounter/index.tsx
Due: npm run lint:fix

Update data: Sasaki graduation & Fukagawa official site
  src/data/members.json
Due: none

npm audit
  package-lock.json
Due: none

Replace yarn with npm
  README.md
  yarn.lock
Due: none

Replace npm with yarn
  package-lock.json
  yarn.lock
Due: none

Remove unnecessary stuff in package.json
  package.json
Due: none

Update yarn.lock
  yarn.lock
Due: none

Reset README back to yarn
  .eslintignore
  README.md
Due: none

Fix data source path
  src/server/utils/constants.ts
Due: npm run lint:fix

Generate data using new data source path
  src/data/albums.json
  src/data/members.json
  src/data/singles.json
  src/data/songs.json
Due: none

Update README
  README.md
Due: none

Move husky and lint-staged configs into package.json Add generating data pre-commit hook
  .huskyrc
  .lintstagedrc
  package.json
Due: none

Update lint-staged
  package.json
Due: none

Update Inoue's graduation
  src/data/members.json
  src/server/editor/members.ts
Due: npm run lint:fix

Add Wakatsuki's Twitter
  src/data/members.json
  src/server/editor/members.ts
Due: npm run lint:fix

Add forth gen member personal blogs and new forth members relay blog
  src/data/members.json
  src/server/editor/members.ts
Due: npm run lint:fix

Add gatsby-image
  .eslintrc.js
  gatsby-config.js
  package.json
  src/client/components/atoms/Image/index.tsx
  yarn.lock
Due: npm run lint:fix

Fix and remove types
  src/client/components/atoms/Track/index.tsx
  src/client/components/templates/Cd/index.tsx
  src/client/components/templates/Cds/index.tsx
  src/client/components/templates/Members/index.tsx
  src/client/components/templates/Song/index.tsx
  src/client/containers/Album/index.tsx
  src/client/containers/Cds/index.tsx
  src/client/containers/Members/index.tsx
  src/client/containers/Single/index.tsx
  src/client/containers/Song/index.tsx
  src/client/layouts/index.tsx
  src/client/types/responseTypes.ts
  src/client/types/tab.d.ts
  src/client/utils/strings.ts
  src/pages/search.tsx
  src/server/editor/members.ts
  src/server/models/IAlbum.ts
  src/server/models/IMember.ts
  src/server/models/ISingle.ts
  src/server/models/commons.ts
  src/server/utils/constants.ts
Due: npm run lint:fix

Rename tabs type file
  src/client/components/templates/Cd/index.tsx
  src/client/components/templates/Cds/index.tsx
  src/client/components/templates/Members/index.tsx
  src/client/containers/Album/index.tsx
  src/client/containers/Cds/index.tsx
  src/client/containers/Members/index.tsx
  src/client/containers/Single/index.tsx
  src/client/layouts/index.tsx
  src/client/types/tabs.ts
Due: npm run lint:fix

Refactor artwork data using gatsby-image form
  src/client/components/atoms/Artwork/index.tsx
  src/client/components/molecules/Artworks/index.tsx
  src/client/components/templates/Cd/index.tsx
  src/client/components/templates/Cds/index.tsx
  src/client/components/templates/Song/index.tsx
  src/client/containers/Album/index.tsx
  src/client/containers/Cds/index.tsx
  src/client/containers/Single/index.tsx
  src/client/containers/Song/index.tsx
  src/data/albums.json
  src/data/singles.json
  src/data/songs.json
  src/server/converter/updateCds.ts
  src/server/converter/updateSongs.ts
  src/server/models/ISong.ts
  src/server/models/commons.ts
Due: npm run lint:fix

Refactor members data for gatsby-image
  src/client/components/atoms/MemberCard/index.tsx
  src/client/components/templates/Member/index.tsx
  src/client/components/templates/Members/index.tsx
  src/client/components/templates/Song/index.tsx
  src/client/containers/Member/index.tsx
  src/client/containers/Members/index.tsx
  src/client/containers/Song/index.tsx
  src/data/members.json
  src/server/converter/updateMembers.ts
  src/server/models/IMember.ts
Due: npm run lint:fix

Fix search
  src/client/components/atoms/SearchResultCard/index.tsx
  src/client/components/molecules/SearchResultCategory/index.tsx
  src/client/components/templates/Search/index.tsx
  src/pages/search.tsx
Due: npm run lint:fix

Adjust image styles
  src/client/components/atoms/Artwork/artwork.module.scss
  src/client/components/atoms/Artwork/index.tsx
  src/client/components/atoms/Image/index.tsx
  src/client/components/atoms/MemberCard/index.tsx
  src/client/components/atoms/MemberCard/membercard.module.scss
  src/client/components/atoms/SearchResultCard/index.tsx
  src/client/components/atoms/SearchResultCard/searchresultcard.module.scss
  src/client/components/templates/Member/index.tsx
  src/client/components/templates/Member/member.module.scss
  src/client/components/templates/Song/index.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Fix type errors
  src/client/containers/Album/index.tsx
Due: npm run lint:fix

Fix image query
  src/client/components/atoms/Artwork/index.tsx
  src/client/components/atoms/Image/index.tsx
Due: npm run lint:fix

Fix typecheck configs
  .circleci/config.yml
  package.json
  tsconfig.json
Due: none

Fix CircleCI configs
  .circleci/config.yml
Due: none

Remove unused data
  src/server/json/albums.json
  src/server/json/members.json
  src/server/json/singles.json
  src/server/json/songs.json
  src/server/json/units.json
Due: none

Use ts-node for generating data
  package.json
  tsconfig-server.json
  yarn.lock
Due: none
