Repository shawnrivers/nogilib: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, stylelint --fix

Fix top navigation class name and whileHover conflict
  src/components/atoms/NavigationItem/index.tsx
  src/components/molecules/TopNavigation/index.tsx
  src/components/molecules/TopNavigation/topnavigation.module.scss
  src/layouts/index.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Add animation to page tabs
  src/components/atoms/PageTab/index.tsx
  src/components/molecules/PageTab/index.tsx
  src/components/molecules/PageTab/pagetab.module.scss
  src/components/molecules/PageTabs/index.tsx
  src/components/molecules/PageTabs/pagetabs.module.scss
  src/layouts/index.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Fix side bar button accessibility
  src/components/molecules/SideBar/index.tsx
Due: npm run lint:fix

Fix page tab animation
  src/components/atoms/PageTab/index.tsx
Due: npm run lint:fix

Fix member image cropping
  src/components/atoms/MemberCard/membercard.module.scss
  src/components/templates/Member/member.module.scss
Due: prettier --write, stylelint --fix

Update members data
  src/data/members.json
Due: none

Fix CSS property bugs
  src/components/templates/Member/member.module.scss
  src/components/templates/Song/song.module.scss
Due: prettier --write, stylelint --fix

Fix CDs and Members page bottom spacing in iPhone
  src/components/templates/Cds/cds.module.scss
  src/components/templates/Members/members.module.scss
Due: prettier --write, stylelint --fix

Adjust spacings
  src/styles/spacing.scss
Due: prettier --write, stylelint --fix

Update yarn.lock
  yarn.lock
Due: none

Add auto merge to dependabot
  .dependabot/config.yml
Due: none

Adjust page padding
  src/components/templates/Cd/cd.module.scss
  src/components/templates/Member/member.module.scss
  src/components/templates/Song/song.module.scss
Due: prettier --write, stylelint --fix

Add iOS status bar style
  src/layouts/index.tsx
Due: npm run lint:fix

Modify CSS
  src/components/molecules/TopNavigation/topnavigation.module.scss
Due: prettier --write, stylelint --fix

Add offline support
  gatsby-browser.js
  gatsby-config.js
  package.json
  yarn.lock
Due: npm run lint:fix

Update app icon
  gatsby-config.js
  src/assets/images/icon.png
Due: npm run lint:fix

Change app icon
  src/assets/images/icon.png
Due: none

Fix manifest starting url
  gatsby-config.js
Due: npm run lint:fix

Fix PWA support issue in iOS
  src/layouts/index.tsx
  src/styles/app.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Fix padding top for iPhone X+
  src/components/molecules/PageTabs/pagetabs.module.scss
  src/components/molecules/SideBar/sidebar.module.scss
  src/components/templates/Cd/cd.module.scss
  src/components/templates/Member/member.module.scss
  src/components/templates/Search/search.module.scss
  src/components/templates/Song/song.module.scss
  src/layouts/index.tsx
  src/styles/app.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Fix dependabot auto merge
  .dependabot/config.yml
Due: none

Adjust manifest theme color
  gatsby-config.js
Due: npm run lint:fix

Add stylelint script without fix flag
  package.json
Due: none

Add an initial circleCI config file
  .circleci/config.yml
Due: none

Fix CircleCI configuration
  .circleci/config.yml
Due: none

Add graduated members' profile pages
  src/data/members.json
Due: none

Fix the top navigation bar
  src/components/molecules/TopNavigation/index.tsx
  src/components/molecules/TopNavigation/topnavigation.module.scss
Due: npm run lint:fix, prettier --write, stylelint --fix

Add margin-top to every page for the top navigation bar
  src/components/molecules/PageTabs/pagetabs.module.scss
  src/components/templates/Cd/cd.module.scss
  src/components/templates/Member/member.module.scss
  src/components/templates/Search/search.module.scss
  src/components/templates/Song/song.module.scss
  src/components/templates/Starting/starting.module.scss
  src/styles/spacing.scss
Due: prettier --write, stylelint --fix

Adjust font weight
  src/components/molecules/TopNavigation/topnavigation.module.scss
  src/components/templates/Cd/cd.module.scss
  src/components/templates/Song/song.module.scss
Due: prettier --write, stylelint --fix

Move sidebar out of nav
  src/components/molecules/TopNavigation/index.tsx
Due: npm run lint:fix

Fix media query position
  src/components/molecules/TopNavigation/topnavigation.module.scss
Due: prettier --write, stylelint --fix

Fix search page styles
  src/components/templates/Search/search.module.scss
Due: prettier --write, stylelint --fix

Exclude build branch from CircleCI
  .circleci/config.yml
Due: none

Rename CSS spacing variables
  src/components/atoms/PageContentLayout/pagecontentlayout.module.scss
  src/components/molecules/PageTabs/pagetabs.module.scss
  src/components/templates/Cd/cd.module.scss
  src/components/templates/Cds/cds.module.scss
  src/components/templates/Member/member.module.scss
  src/components/templates/Members/members.module.scss
  src/components/templates/Search/search.module.scss
  src/components/templates/Song/song.module.scss
  src/components/templates/Starting/starting.module.scss
  src/styles/spacing.scss
Due: prettier --write, stylelint --fix

Refine and rename layout components
  src/components/atoms/Layout/index.tsx
  src/components/atoms/Layout/layout.module.scss
  src/components/atoms/PageContentLayout/index.tsx
  src/components/atoms/PageContentLayout/pagecontentlayout.module.scss
  src/components/molecules/PageTabs/index.tsx
  src/components/molecules/PageTabs/pagetabs.module.scss
  src/components/templates/Cd/cd.module.scss
  src/components/templates/Cd/index.tsx
  src/components/templates/Member/index.tsx
  src/components/templates/Member/member.module.scss
  src/components/templates/Search/index.tsx
  src/components/templates/Search/search.module.scss
  src/components/templates/Song/index.tsx
  src/components/templates/Song/song.module.scss
  src/components/templates/Starting/index.tsx
  src/components/templates/Starting/starting.module.scss
  src/pages/404.tsx
Due: npm run lint:fix, prettier --write, stylelint --fix

Add Sakurai's Instagram and reorder sites
  src/data/members.json
Due: none

Add name to commands
  .circleci/config.yml
Due: none

Cache yarn dependecies
  .circleci/config.yml
Due: none

Add auto deploy to CircleCI
  .circleci/config.yml
Due: none

Reorder steps
  .circleci/config.yml
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.scss
  stylelint --fix: any of: *.scss
